<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Dashboard</title>
</head>
<script>
    var soapRequest = "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:bank=\"http://bank.project.soap\">\n" +
        "   <soapenv:Header/>\n" +
        "   <soapenv:Body>\n" +
        "      <bank:listLoanRequest/>\n" +
        "   </soapenv:Body>\n" +
        "</soapenv:Envelope>"
    function fetchDetails(){
        $.ajax({
            url: "http://localhost:8085/loanPoint",
            type: "POST",
            dataType: "xml",
            contentType: "text/xml;charset=\"UTF-8\"",
            data: soapRequest,
            success: (data) => {
                // alert(data)
                $(data).find('ns2\\:loanScheme').each(function() {
                    var id = $(this).find('ns2\\:loanSchemeId').text();
                    var type = $(this).find('ns2\\:loanSchemeType').text();
                    var name = $(this).find('ns2\\:loanSchemeName').text();
                    var desc = $(this).find('ns2\\:loanSchemeDesc').text();
                    var roi = $(this).find('ns2\\:loanSchemeRoi').text();
                    console.log('name: ' + name + ', type: ' + type + ', desc: ' + desc + ', roi: '+ roi);
                    $("#dashTable").append("<tr><td>"+name+"</td><td>"+type+"</td><td>"+desc+"</td><td>"+roi+"</td><td><button type='button' class='btn btn-danger' onclick=\"applyFn("+id+")\">Apply</button></td></tr>");
                });
            },
            error:()=>{
                alert("error")
            }
        });
    }

    $(function () {
        fetchDetails()
    })
    function applyFn(id){
        window.location.href = "http://localhost:8085/web/apply?id="+id;
    }
    // $(document).ready(function(){
    //     $("#applyLoan").click(()=>{
    //         window.location.href = "http://localhost:8085/web/apply/";
    //     })
    //
    // })
</script>
<body class="bg-info-subtle">
<div class="container">
    <div class="d-flex justify-content-between">
        <img src="/files/Vibebanklogo.png" height="100px" width="350px" />
        <button type="submit" class="btn btn-danger h-75 mt-4" value="/logout" id="logoutBtn">Log Out</button>
    </div>
    <div class="row justify-content-center">
        <h2 class="text-center bg-primary border-5 border-primary mt-2 rounded-3">AVAILABLE LOANS</h2>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead class="bg-warning">
            <th>Loan Name</th>
            <th>Loan Type</th>
            <th>Loan Description</th>
            <th>Loan ROI</th>
            <th>Option</th>
            </thead>
            <tbody class="bg-warning-subtle" id="dashTable">
<!--            <tr>-->
<!--                <td>StudieKredit</td>-->
<!--                <td>Education</td>-->
<!--                <td>a sum of money borrowed to finance post-secondary education or higher education-related expenses</td>-->
<!--                <td>6</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>BilKredit</td>-->
<!--                <td>Car</td>-->
<!--                <td>for the purpose of purchasing a car or other motor vehicle</td>-->
<!--                <td>4</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>HemmaLan</td>-->
<!--                <td>Housing</td>-->
<!--                <td>for the purpose of purchasing a home or other residential property</td>-->
<!--                <td>2</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>GuldLan</td>-->
<!--                <td>Gold</td>-->
<!--                <td>borrower uses their gold jewelry, coins, or other gold assets as collateral to secure the loan</td>-->
<!--                <td>15</td>-->
<!--            </tr><tr>-->
<!--                <td>Jordbruksfinans</td>-->
<!--                <td>Agriculture</td>-->
<!--                <td>help farmers and agricultural businesses finance their operations, purchase equipment or machinery, and expand their operations</td>-->
<!--                <td>8</td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>
    <div class="row mt-3 justify-content-center">
        <button type="button" class="btn btn-success btn-block w-25" id="applyLoan">Apply For Loan</button>
    </div>
</div>
</body>
</html>